h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: system-ui;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/background2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: system-ui;
}

img {
  max-width: 800px;
  float: left;
  margin: 0 5%;
  border: 4px solid black;
  border-radius: 15px;
  vertical-align: middle;
}

.Container {
  margin: 100px auto;
  width: 45%;
}

.text-box {
  color: black;
}

.text-box h2 {
  font-family: system-ui;
  font-size: 42px;
  padding-bottom: 15px;
}

.text-box p {
  font-size: 20px;
  margin: auto;
  text-align: justify;
  padding-bottom: 100px;
  padding-left: 15px;
  font-family: "Space Grotesk", sans-serif;
}
